<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/contribute">
              Contribute
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/verbs">
              Verbs
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/top-75">
              Top 75 services
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/domains">
              Domains
            </a>
          </li>
        </ul>
        <div class="govuk-footer__meta-custom">
          An unofficial community project
        </div>
      </div>
      <div class="govuk-footer__meta-item">
      </div>
    </div>
  </div>
</footer>
