<footer class="govuk-footer" role="contentinfo">
  <div class="govuk-width-container">
    {{ xGovukLogo({
      classes: "govuk-footer__crown x-govuk-footer__crown",
      attributes: {
        width: "45",
        height: "45"
      },
      useCrown: true,
      useLogotype: false
    }) | trim | indent(4) }}
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/contribute">
              Contribute
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/verbs">
              Verbs
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/top-75">
              Top 75 services
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/domains">
              Domains
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/screenshots">
              Screenshots
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/original-25-exemplars">
              Original 25 exemplar services
            </a>
          </li>

          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/source-code">
              Source code
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/govuk-one-login">
              GOV.UK One Login
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/data">
              Get the data
            </a>
          </li>
        </ul>
        <div class="govuk-footer__meta-custom">
          An unofficial community project
        </div>
      </div>
      <div class="govuk-footer__meta-item">
        © X-GOVUK
      </div>
    </div>
  </div>
</footer>
