
.app-count {
  font-weight: bold;
  font-size: 80px;
  text-align: center;
}

.app-count--unknown {
  color: govuk-colour("blue");
}

.app-count--alpha {
  color: govuk-colour("purple");
}

.app-count--beta {
  color: govuk-colour("pink");
}

.app-count--live {
  color: govuk-colour("green");
}
