@use "node_modules/govuk-frontend/dist/govuk" as *;

.app-timeline {
  position: relative;
  padding-left: 25px;
}

.app-timeline:before {
  content: ' ';
  position: absolute;
  width: 5px;
  height: 100%;
  top: 10px;
  left: 0;
  background-color: $govuk-brand-colour;
}

.app-timeline__item {
  position: relative;
}

.app-timeline__item:before {
  content: ' ';
  position: absolute;
  width: 10px;
  height: 5px;
  top: 10px;
  left: -20px;
  background-color: $govuk-brand-colour;
}

.app-timeline__heading {
  @include govuk-font(19, $weight: bold);
  margin-bottom: 0;
}

.app-timeline__date {
  margin-top: 0;
  margin-bottom: govuk-spacing(3);
  @include govuk-font(19);
}
