$govuk-new-link-styles: true;

// Override the default GOV.UK Frontend font stack
$govuk-font-family: system-ui, sans-serif;
$govuk-brand-colour: #28a;

@import "govuk-frontend/dist/govuk/all";

@import "count";
@import "header";
@import "list";
@import "logo";
@import "navigation";
@import "screenshot";
@import "tag";
@import "timeline";

// We don't change the global width container width so that examples are the current width.
.app-width-container {
  @include govuk-width-container(1100px);
}
