// Use GOV.UK Frontend components
$_font-family: system-ui, sans-serif;
@use "pkg:govuk-frontend/dist/govuk" with (
  $govuk-global-styles: true,
  $govuk-new-organisation-colours: true,
  $govuk-new-typography-scale: true,
  $govuk-font-family: $_font-family,
  $govuk-brand-colour: #2288aa,
  $govuk-link-colour: #006688,
  $govuk-link-hover-colour: #004466,
  $govuk-link-visited-colour: #333366
);

// // Import GOV.UK Prototype Components
@forward "pkg:@x-govuk/govuk-prototype-components/masthead";


// Application components
@import "count";
@import "list";
@import "screenshot";
@import "tag";
@import "timeline";
