@import 'elements';

$backlog-colour: $purple;

/*
  Layout stuff.
*/
html,body { height: 100%; margin: 0px; padding: 0px; overflow:hidden }
#content {
  width:100%;
  height:100%;
  position:relative;
  margin-bottom:0;padding-bottom:0;
  max-width:none;
  overflow:hidden;
  background-color:$turquoise;
  &.phase-backlog { background-color:$backlog-colour;}
  &.phase-discovery { background-color:$discovery-colour;}
  &.phase-alpha { background-color:$alpha-colour;}
  &.phase-beta { background-color:$beta-colour;}
  &.phase-live { background-color:$live-colour;}


    margin:0 auto;
}
#display {
  position:absolute;
  left:50%;top:0;
  transform: translate(-50%,120px);
  font-size:42px;
  color:white;
  text-align:center;
  width:100%;
  max-width:960px;
  margin:0 auto;
}

/*
  Header elements
*/
%top {
  position:absolute;
  top:30px;
  color:white;
}
.top-left {
  @extend %top;
  left:30px;
  font-size:32px;
}
.top-right {
  @extend %top;
  right:30px;
}

/*
  Typography
*/
.small-caps {
  text-transform:uppercase;
  letter-spacing:0.25em;
  font-weight:700;
}
.name {
  font-size:64px;
  font-weight:700;
  margin-bottom:20px;
}
.desc {
  font-size:32px;
}
.theme {
  font-size:24px;
}
.location {
  // color:black;
  font-size:24px;
  // opacity:0.42;
  margin-bottom:10px;
  padding-bottom:30px;
  &:after {
    content:'';
    display:block;
    width:33%;
    margin-left:50%;
    transform:translate(-50%,0);
    border-bottom:1px solid rgba(white,0.42);
    margin-top:30px;
  }
}

.phase-box {
  position:absolute;
  right:30px;bottom:30px;
  padding:10px 20px;
  text-align:right;
  color:white;
}
.phase {
  margin:0;
  font-size:36px;
}
.phase-date {
  font-size:14px;
  margin-bottom:0;
}

/*
  Timer element
*/
.timer {
  position:absolute;
  left:0;bottom:10px;
  background-color:darken($turquoise,10);
  width:0%;
  height:10px;
}

/*
  Key stuff
*/
.count {
  color:white;
  padding-left:5px;
}
.key {
  position:absolute;
  left:30px;bottom:30px;
  width:200px;
}
.key-block {
  float:left;
  margin:5px 5px;
  a {
    display:block;
    $size:20px;
    width:$size;height:$size;
    background-color:rgba(black,0.42);
  }
  &.chosen {
    a { background-color:rgba(white,0.62); }
  }
}

.txt-right {
  text-align:right;
}
.small {
  font-size:14px;
}
