{% extends "display/layout.html" %}

{% block page_title %}
	Government Digital Services
{% endblock %}

{% block content %}

	{# {% set item = feedback %} #}
	{# {% set item = feedback[32] %} #}

	<main id="content" role="main" class="phase-{{ data.phase }}">

		<div class="top-left">Government Digital Services</div>

		<div id="display">
			<p class="theme small-caps">{{ data.theme }}</p>
			<p class="name">{{ data.name }}</p>
			<p class="organisation small-caps">{{ data.organisation }}</p>
		</div>

		<div class="phase-box">
			<p class="phase">{{ data.phase_modifier | lower }} {{ data.phase }}</p>
			<p class="phase-date small-caps">({{msg}} {{ data['phase-history'][phate][0].date }})</p>
		</div>

		<div class="key">
			<div class="count">{{ total }} services</div>
			{% for i in range(0,total) %}
				{% set class = ""%}
				{% if i == number %} {% set class = "chosen"%} {% endif %}
			  <div class="key-block {{ class }}"><a href="/display/{{ i }}/{{ organisation }}"></a></div>
			{% endfor %}
		</div>

	</main>

	<div class="timer"></div>

{% endblock %}

{% block page_script %}
<script type="text/javascript">
	var time = 15*1000;
	$(document).on('ready',function()
	{
		var num = {{ number }};
	  setTimeout(function()
		{
			window.organisation.href = '/display/'+(num+1)+'/{{ organisation }}';
		},time)
		// $(".timer").animate({"width":"100%"},time,"easeInQuint");
	});
</script>
{% endblock %}
