{% extends "blank.html" %}

{% block head %}
  <link href="/public/stylesheets/display.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  {# <script src="/public/javascripts/jquery-easing.js"></script> #}
{% endblock %}

{% block footer_support_links %}
  <div class="footer-detail">
    <p class="font-xsmall"><a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter" target="privacyLink">Privacy Policy</a></p>
    <p class="font-xsmall">Adapted from a project by Department for Work &amp; Pensions</p>
  </div>
{% endblock %}
