@use "pkg:govuk-frontend/dist/govuk" as *;

.app-screenshot {
  @include govuk-link-image;

  img {
    border: 1px solid govuk-functional-colour(border);
    box-sizing: border-box;
    max-width: 100%;
  }

  &:hover img {
    border-color: govuk-functional-colour(link);
  }

  &:active img {
    border-color: govuk-functional-colour(link-active);
  }
}
