// Use GOV.UK Frontend components
$_font-family: system-ui, sans-serif;
@use "pkg:govuk-frontend/dist/govuk" with (
  $govuk-global-styles: true,
  $govuk-font-family: $_font-family,
  $govuk-functional-colours: (
    brand: #2288aa,
    link: #006688,
    link-hover: #004466,
    link-visited: #333366,
  )
);

// Import GOV.UK Prototype Components
@forward "pkg:@x-govuk/govuk-prototype-components/masthead";

// Application components
@forward "list";
@forward "screenshot";
@forward "tag";
@forward "timeline";
@forward "video";
