// Use GOV.UK Frontend components
$_font-family: system-ui, sans-serif;
@use "pkg:govuk-frontend/dist/govuk" with (
  $govuk-global-styles: true,
  $govuk-new-organisation-colours: true,
  $govuk-new-typography-scale: true,
  $govuk-font-family: $_font-family,
  $govuk-brand-colour: #2288aa,
  $govuk-link-colour: #006688,
  $govuk-link-hover-colour: #004466,
  $govuk-link-visited-colour: #333366
);

// Use GOV.UK Eleventy Plugin components
@use "pkg:@x-govuk/govuk-eleventy-plugin";

// Application components
@forward "list";
@forward "screenshot";
@forward "tag";
@forward "timeline";
@forward "video";
