{% extends "layout.html" %}

{% block pageTitle %}Contribute to Government digital services{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Contribute</h1>

      <p class="govuk-body">This is an unofficial community project to catalogue and document the different digital services being developed and run across UK Government departments.</p>

      <p class="govuk-body">The project aims to make it easier for digital teams to discover other services which may be related to the one they are working on, in order to improve cross-Government collaboration.</p>

      <p class="govuk-body">You can contibute to this project by:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#adding-services">Adding missing services which you know about</a></li>
        <li><a class="govuk-link" href="#updating-services">Updating information about the services listed</a></li>
        <li><a class="govuk-link" href="#improve-website">Improving the presentation of this website</a></li>
      </ul>

      <h2 class="govuk-heading-m" id="adding-services">Adding missing services</h2>

      <p class="govuk-body">If a service you know of is missing, you can add it by following these steps:</p>

      <ol class="govuk-list govuk-list--number">
        <li>Visit the <a href="https://github.com/x-govuk/govuk-services/tree/main/app/services">list of services</a> in GitHub.</li>
        <li>Click on the "Create new file" button</li>
        <li>In the box labelled "Name your file", type in the name of the service you want to add in lowercase, with spaces replaced by hyphens, followed by ".json". For example, <samp>check-your-state-pension.json</samp>.</li>
        <li>In the larger empty box below, copy and paste the contents of <a href="https://raw.githubusercontent.com/x-govuk/govuk-services/main/app/services/_template.json">the service template file</a>.</li>
        <li>Replace all the relevant fields with details about the service you’re adding (for example, name and organisation). Any that you don’t know should be left blank.</li>
        <li>Click the "Propose new file" button</li>
        <li>Click the "Create pull request" button.</li>
        <li>Leave an optional comment, and then press the "Create pull request" button again.</li>
      </ol>

      <p class="govuk-body">Thanks for your contribution! This will send a public request to our project team to add your service.</p>

      <p class="govuk-body">We may not reply straight away as this project is run within people’s spare time. However we’ll try and respond as soon as we can, either to accept your request and immediately add it to the website, or to ask for some clarifications.</p>

      <p class="govuk-body">If you spot multiple missing services, repeat this process for each service.</p>

      <p class="govuk-body">If any part of this process is confusing or your get stuck, you can <a href="https://github.com/x-govuk/govuk-services/issues">create an ‘issue’</a> and we will try and help.</p>

      <h2 id="updating-services" class="govuk-heading-m">Updating information about a service</h2>

      <p class="govuk-body">If the information listed about a service is incorrect or out-of-date, please help us correct it. To do this, please follow these steps:</p>

      <ol class="govuk-list govuk-list--number">
        <li>Visit the <a href="https://github.com/x-govuk/govuk-services/tree/main/app/services">list of services</a> in GitHub.</li>
        <li>Find the service you’d like to update. The name of the file will match the last part of the URL. Click on the file name.</li>
        <li>You should see file containing all of the current information about that service. Click on the "Edit this file" button, which is displayed as a pencil icon.</li>
        <li>Update as much of the content as you can</li>
        <li>Press the "Propose file change" button at the bottom</li>
        <li>Click the "Create pull request" button.</li>
        <li>Leave an optional comment, and then press the "Create pull request" button again.</li>
      </ol>

      <p class="govuk-body">Thanks for your contribution! This will send a public request to our project team to update your service information.</p>

      <p class="govuk-body">We may not reply straight away as this project is run within people’s spare time. However we’ll try and respond as soon as we can, either to accept your changes and update the website, or to ask for some clarifications.</p>

      <p class="govuk-body">If you spot updates to make for multiple services, repeat this process for each service.</p>

      <p class="govuk-body">If any part of this process is confusing or your get stuck, you can <a href="https://github.com/x-govuk/govuk-services/issues">create an ‘issue’</a> and we will try and help.</p>

      <h2 id="improve-website" class="govuk-heading-m">Improve the website</h2>

      <p class="govuk-body">We welcome ideas to improve the presentation or functionality of this website!</p>

      <p class="govuk-body">The website is written as Node.js application. The <a href="https://github.com/x-govuk/govuk-services">source code</a> is available on GitHub.</p>

      <p class="govuk-body">Please suggest your changes either as a Pull Request, or via opening an Issue.</p>

    </div>
  </div>

{% endblock %}
