{% extends "layout.njk" %}

{% set title = "Domains" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% set serviceGovUkRegexp = r/service\.gov\.uk/ %}

  <h2 class="govuk-heading-l">*.service.gov.uk</h2>

  <ol class="govuk-list govuk-list--spaced">
  {%- for domain in domains | sort(false, false, "domain") -%}
    {%- if serviceGovUkRegexp.test(domain.domain) -%}
    <li>
    {%- if domain.services | length == 1 -%}
      {% set service = domain.services | first %}
      <a class="govuk-link govuk-!-font-weight-bold" href="/service/{{ service.slug }}">{{ domain.domain }}</a>
    {%- else %}
      <b>{{ domain.domain }}</b> - {{ domain.services | length }} services
      <ul class="govuk-list govuk-list--spaced govuk-!-font-size-16 govuk-!-padding-left-5 govuk-!-margin-bottom-4">
      {%- for service in domain.services -%}
        <li><a class="govuk-link" href="/service/{{ service.slug }}">{{ service.name }}</a></li>
      {%- endfor %}
      </ul>
    {%- endif %}
    </li>
    {%- endif %}
  {%- endfor %}
  </ol>

  <h2 class="govuk-heading-l">Non service.gov.uk domains</h2>

  <ol class="govuk-list govuk-list--spaced">
  {%- for domain in domains | sort(false, false, "domain") -%}
    {% if not serviceGovUkRegexp.test(domain.domain) %}
    <li>
    {%- if domain.services | length == 1 -%}
      {%- set service = domain.services | first %}
      <a class="govuk-link govuk-!-font-weight-bold" href="/service/{{ service.slug }}">{{ domain.domain }}</a>
    {%- endif %}
    </li>
    {%- endif %}
  {%- endfor %}
  </ol>
{% endblock %}
