{% extends "layout.html" %}

{% set title = "Services using GOV.UK One Login" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p class="govuk-body">These services have integrated with GOV.UK One Login. See <a href="https://www.gov.uk/using-your-gov-uk-one-login/services">full list on GOV.UK</a>.</p>

  <ul class="govuk-list govuk-list--number govuk-list--spaced">
  {%- for project in projects | sort(attribute="name") -%}
    {%- for tag in project.tags %}{% if tag == "GOV.UK One Login" -%}
    <li>
      <a class="govuk-link" href="/projects/{{ project.slug }}">
        {{- project.name -}}
      </a>
    </li>
    {%- endif %}{% endfor %}
  {%- endfor %}
  </ul>
{% endblock %}
