{% extends "layout.html" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% set section = "home" %}

{% block pageTitle %}Government digital services{% endblock %}

{% block main %}
<div class="x-govuk-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="x-govuk-masthead__title">
          A community-maintained list of digital services from the UK government
        </h1>
        <p class="x-govuk-masthead__description">
          This list aims to help designers and developers discover and learn from other digital services.</p>
        <a href="/topic" role="button" draggable="false" class="govuk-button govuk-button--inverse govuk-button--start" data-module="govuk-button">
          Explore the list
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container app-width-container">
  <main class="govuk-main-wrapper app-main-class" id="main-content">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Latest updates</h2>

      {% for event in allEvents | sort(attribute="date", reverse=true) %}
        {% if loop.index < 11 %}
          <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ event.date | formatdate }}</h3>
          <p class="govuk-body govuk-!-margin-bottom-1"><a href="/projects/{{ event.service.slug }}" class="govuk-link">{{ event.service.name }}</a></p>
          <p class="govuk-body">{{ event.label }}</p>

        {% endif %}
      {% endfor %}
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Contribute</h2>
      <p class="govuk-body">Help keep this list up-to-date by suggesting additions and changes.</p>
      <p class="govuk-body">You can contribute by opening an issue or pull request on GitHub.</p>
      <p class="govuk-body"><a href="/contribute" class="govuk-link">How to contribute</a></p>
    </div>
  </div>
  </main>
</div>
{% endblock %}
