{% extends "layout.html" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% block pageTitle %}Government digital services{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">A catalogue of government services that are fully digital as part of GOV.UK</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    {% for phase in phases %}
      {% if phase.name != 'unknown' %}
        <div class="govuk-grid-column-one-quarter">
          {{ govukTag({
            text: phase.name,
            classes: "app-tag--large govuk-tag--" + phase.class
          }) }}

          <div class="app-count app-count--{{ phase.name }} govuk-body">
            {{ phase.projects_count }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {% for theme in themes %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
        <h2 class="govuk-heading-m">{{ theme }}</h2>

        <ul class="govuk-list app-list--services">
          {%- for project in (projects | sort(attribute="name")) -%}
            {% if project.theme == theme %}
              <li>
                <a class="govuk-link" href="/projects/{{project.slug }}">{{ project.name }}</a>
                {% if project.tags %}
                  {% for tag in project.tags %}
                    {{ govukTag({text: tag, classes: "govuk-tag--blue app-tag--small"}) }}
                  {% endfor %}
                {% endif %}
                {% if project.phase == 'retired' %}
                  {{ govukTag({text: 'retired', classes: 'govuk-tag--grey app-tag--small'}) }}
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}

{% endblock %}
