{% extends "layout.html" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% block pageTitle %}By organisation: Government digital services{% endblock %}
{% block content %}

  <h1 class="govuk-heading-xl">By organisation</h1>

  <ul class="govuk-list">
    {% for organisation in organisations | sort(attribute="name") %}
      <li id="{{ organisation.slug }}"><a href="/organisation/{{ organisation.slug }}" class="govuk-link">{{ organisation.name }} ({{ organisation.serviceCount }})</a></li>
    {% endfor %}
  </ul>


{% endblock %}
