{% extends "layout.html" %}
{%- from "includes/_service-item.njk" import serviceItem -%}
{% set section = "organisation" %}

{% block pageTitle %}{{ organisation.name }}{% endblock %}
{% block content %}

  <h1 class="govuk-heading-xl">{{ organisation.name }}</h1>

  <h2 class="govuk-heading-m">Digital services</h2>
  <ul class="govuk-list app-list--services">
    {%- for service in (organisation.services | sort(attribute="name")) -%}
      {{ serviceItem(service) }}
    {% endfor %}
  </ul>

{% endblock %}
