{% extends "layout.njk" %}

{% set title = "Original 25 exemplars" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body">In 2013, <a href="https://www.gov.uk/government/publications/gds-transformation-programme-2013-to-2015/digital-transformation-exemplar-services" class="govuk-link">25 exemplar services</a> were prioritised for transformation.</p>

      <p class="govuk-body">Designed to be ‘simpler, clearer and faster to use’, the Digital Transformation programme aimed to deliver ‘digital services so good people prefer to use them’.</p>

      <p class="govuk-body"><img src="/images/transformation-logo.png" alt="Logo for the Digital Transformation programme." width="192" height="192"></p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      {% set number = 1 %}
      {%- for collection, items in exemplars -%}
      {%- set organisation = organisations | find("slug", collection) -%}
      <h2 class="govuk-heading-l">
        {{- organisation.name or collection -}}
      </h2>

      <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-6" start="{{ number }}">
      {%- for item in items -%}
        {% set number = number + 1 %}
        {% set service = services | find("slug", item) %}
        <li>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link" href="/service/{{ service.slug }}">
              {{- service.name -}}
            </a>
          </h3>
          <p class="govuk-body">{{ service.description }}</p>
        </li>
      {%- endfor %}
      </ol>
      {%- endfor %}
    </div>
  </div>
{% endblock %}
