{% extends "layout.html" %}
{%- from "includes/_service-item.njk" import serviceItem -%}
{% set section = "phase" %}

{% block pageTitle %}Government digital services{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">By phase</h1>

      {% for phase in phases | reverse %}
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="{{ phase.name | slugify }}">{{ phase.name }}</h2>

        <ul class="govuk-list govuk-list--spaced">
          {%- for service in (projects | sort(attribute="name")) -%}
            {% if service.phase == phase.name %}
              {{ serviceItem(service) }}
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>

{% endblock %}
