{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% block pageTitle %}{{ project.name }} – Government digital services{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ project.name }}</h1>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">{{ project.description }}</p>

      {% if project['start-page'] %}
        <p class="govuk-body"><a class="govuk-link" href="{{ project['start-page'] }}">Start page on GOV.UK</a></p>
      {% endif %}
      {% if project.liveservice and project.phase != 'retired' %}

        {{ govukButton({
          text: "View service",
          href: project.liveservice

        }) }}

      {% endif %}

      {% if project.video %}
        <div style="margin-top:30px;" class="videoWrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ project.video }}" frameborder="0" allowfullscreen></iframe>
        </div>
      {% endif %}


      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      {% set organisationHtml %}
        <a class="govuk-link" href="/organisation/{{ project.organisation | slugify }}">{{ project.organisation }}</a>
      {% endset %}

      {% set themeHtml %}
        <a class="govuk-link" href="/#{{ project.theme | slugify }}">{{ project.theme }}</a>
      {% endset %}

      {% set statusHtml %}
        {{ govukTag({
            text: project.phase
        }) }}
      {% endset %}

      {% set sourceCodeHtml %}
        {% if project.github %}
          <a class="govuk-link" href="{{ project.github }}">{{ project.github }}</a>
        {% else %}
          Not found
        {% endif %}
      {% endset %}

      <h2 class="govuk-heading-m">About this service</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Organisation"
            },
            value: {
              html: organisationHtml
            }
          },
          {
            key: {
              text: "Theme"
            },
            value: {
              html: themeHtml
            }
          },
          {
            key: {
              text: "Status"
            },
            value: {
              html: statusHtml
            }
          },
          {
            key: {
              text: "Source code"
            },
            value: {
              html: sourceCodeHtml
            }
          }
        ]
      }) }}

      {% if project.timeline and project.timeline.items|length > 0 %}
        <h2 class="govuk-heading-m">Service history</h2>

        <div class="app-timeline">
          {% for item in (project.timeline.items | sort(attribute="date")) %}
            <div class="app-timeline__item">
              <h3 class="app-timeline__heading">{{ item.label }}</h3>
              <p class="app-timeline__date"><time datetime="{{ item.date }}">{{ item.date | formatdate }}</time></p>

              {% if item.links and item.links|length > 0 %}
                <ul class="govuk-list">
                  {% for link in item.links %}
                    <li><a class="govuk-link" href="{{ link.href }}">{{ link.text }}{% if link.visuallyHiddenText %}<span class="govuk-visually-hidden">{{ link.visuallyHiddenText }}</span>{% endif %}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}


    </div>
    <div class="govuk-grid-column-one-third">
      {% if project.screenshot %}
        <a href="/images/service-screenshots/{{ project.slug }}.png"><img class="app-screenshot" src="/images/service-screenshots/{{ project.slug }}.png" alt="Screenshot of service"></a>
      {% endif %}
    </div>
  </div>


{% endblock %}
