{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% block pageTitle %}{{ project.name }} – Government digital services{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ project.name }}</h1>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">{{ project.description }}</p>

      {% if project['start-page'] | length > 0 %}
        {% if project['start-page'] | length == 1 %}
          <p class="govuk-body"><a class="govuk-link" href="{{ project['start-page'][0] }}">Start page on GOV.UK</a></p>
        {% else %}

          <p class="govuk-body govuk-!-margin-bottom-1">Start pages:</p>
          <ul class="govuk-list">
            {% for startPage in project['start-page'] %}
              <li><a href="{{ startPage }}" class="govuk-link">{{ startPage }}</li>
            {% endfor %}
          </ul>

        {% endif %}

      {% endif %}
      {% if project.liveservice and project.phase != 'retired' %}

        {{ govukButton({
          text: "View service",
          href: project.liveservice

        }) }}

      {% endif %}

      {% if project.video %}
        <div style="margin-top:30px;" class="videoWrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ project.video }}" frameborder="0" allowfullscreen></iframe>
        </div>
      {% endif %}


      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      {% set organisationHtml %}
        {% set comma = joiner() %}
        {% for organisation in project.organisation -%}
          {{ comma() }} <a class="govuk-link" href="/organisation/{{ organisation | slugify }}">{{ organisation }}</a>
        {%- endfor %}
      {% endset %}

      {% set themeHtml %}
        <a class="govuk-link" href="/#{{ project.theme | slugify }}">{{ project.theme }}</a>
      {% endset %}

      {% set statusHtml %}
        {{ govukTag({
            text: project.phase
        }) }}

        {% if project.tags %}
          {% for tag in project.tags %}
            {% if tag == 'Top 75' %}
              <div class="govuk-!-margin-top-3">{{ govukTag({text: "Top 75", classes: "govuk-tag--blue"} )}} – one of the <a href="/top-75" class="govuk-link">top 75 prioritised services</a></div>
            {% endif %}

            {% if tag == 'Original 25 exemplars' %}
              <div class="govuk-!-margin-top-3">One of the <a href="/original-25-exemplars" class="govuk-link">original 25 exemplar services</a></div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endset %}

      {% set sourceCodeHtml %}
        {% if project.sourceCode %}
          <ul class="govuk-list">
            {% for sourceCode in project.sourceCode %}
              <li><a class="govuk-link" href="{{ sourceCode.href }}">{{ sourceCode.text }}</a></li>
            {% endfor %}
          </ul>
        {% else %}
          Not found
        {% endif %}
      {% endset %}

      <h2 class="govuk-heading-m">About this service</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: ("Organisation" if project.organisation | length < 2 else "Organisations")
            },
            value: {
              html: organisationHtml
            }
          },
          {
            key: {
              text: "Topic"
            },
            value: {
              html: themeHtml
            }
          },
          {
            key: {
              text: "Status"
            },
            value: {
              html: statusHtml
            }
          },
          {
            key: {
              text: "Source code"
            },
            value: {
              html: sourceCodeHtml
            }
          }
        ]
      }) }}

      {% if project.timeline and project.timeline.items|length > 0 %}
        <h2 class="govuk-heading-m">Service history</h2>

        <div class="app-timeline">
          {% for item in (project.timeline.items | sort(attribute="date")) %}
            <div class="app-timeline__item">
              <h3 class="app-timeline__heading">{{ item.label }}</h3>
              <p class="app-timeline__date"><time datetime="{{ item.date }}">{{ item.date | formatdate }}</time></p>

              {% if item.links and item.links|length > 0 %}
                <ul class="govuk-list">
                  {% for link in item.links %}
                    <li><a class="govuk-link" href="{{ link.href }}">{{ link.text }}{% if link.visuallyHiddenText %}<span class="govuk-visually-hidden">{{ link.visuallyHiddenText }}</span>{% endif %}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}


    </div>
    <div class="govuk-grid-column-one-third">
      {% if project.screenshot %}
        <a href="/images/service-screenshots/{{ project.slug }}.png"><img class="app-screenshot" src="/images/service-screenshots/{{ project.slug }}.png" alt="Screenshot of service"></a>
      {% endif %}
    </div>
  </div>


{% endblock %}
