{% extends "layout.html" %}

{% set title = "Screenshots" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
  {%- for project in projects | sort(attribute="name") -%}
  {%- if project.screenshot -%}
    <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-4">
      <a href="/projects/{{ project.slug }}">
        <img class="app-screenshot" src="/images/service-screenshots/{{ project.slug }}.png" alt="{{ project.name }}">
      </a>
    </div>
  {%- endif %}
  {%- endfor %}
  </div>
{% endblock %}
