{% extends "layout.njk" %}

{% set title = "Screenshots" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
  {%- for service in services | sort(attribute="name") -%}
  {%- if service.screenshot -%}
    <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-4">
      <a href="/service/{{ service.slug }}">
        <img class="app-screenshot" src="/images/service-screenshots/{{ service.slug }}.png" alt="{{ service.name }}">
      </a>
    </div>
  {%- endif %}
  {%- endfor %}
  </div>
{% endblock %}
