{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

	{{ places | log }}

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xxlarge" style="margin-bottom:60px;">Show &lsquo;n&rsquo; Tells</h1>

			{% if today %}
				<h2 class="heading-large">Today
					{% if loc %}in {{ loc }}{% endif %}
				</h2>
			{% endif %}

			{% if all %}
				<h2 class="heading-large">All
					{% if loc %}in {{ loc }}{% endif %}
				</h2>
			{% endif %}

		</div><!-- column -->
		<div class="column-third">

			<p style="margin-top:30px"><a href="/showntells/today/">Today</a></p>
			<h3 class="heading-small">By location</h3>
			<p>
					<a href="/showntells/all/">All</a>{% for item in  places%}
					• <a href="/showntells/all/{{ item }}">{{ item }}</a>{% endfor %}

			</ul>

		</div><!-- column -->
	</div><!-- row -->

	{% if showntells.length %}
	<table>
		<thead>
			<tr><th>Date</th><th>Project</th>{% if not loc %}<th>Location</th>{% endif %}</tr>
		</thead>
		<tbody>
		{% for item in showntells %}
			<tr class="standup">
				{% if today %}
					<td>{{ item.date | formatDate("h:mma") }}</td>
				{% else %}
					<td>
						{{ item.date | formatDate("h:mma dddd") }} &mdash;
						{{ item.date | formatDate("Do MMMM YYYY") }}
					</td>
				{% endif %}
				{# <td><a href="">{{ item.name }}</a></td> #}
				<td><a href="/projects/{{ item.id }}/{{ item.name | slugify }}">{{ item.name }}</a></td>
				{% if not loc %}
					<td><a href="/showntells/all/{{ item.location }}">{{ item.location }}</a></td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>There are no show &lsquo;n&rsquo; tells {% if today %}
			today {% if loc %}in {{ loc }}{% endif %}
		{% endif %}</p>
	{% endif %}

</main>

{% endblock %}
