{% extends "layout.html" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% set section = "topic" %}

{% block pageTitle %}Government digital services{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">By topic</h1>

      {% for theme in themes %}
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="{{ theme | slugify }}">{{ theme }}</h2>

        <ul class="govuk-list app-list--services">
          {%- for project in (projects | sort(attribute="name")) -%}
            {% if project.theme == theme %}
              <li>
                <a class="govuk-link" href="/projects/{{project.slug }}">{{ project.name }}</a>
                {% if project.tags %}
                  {% for tag in project.tags %}
                    {% if tag != "Original 25 exemplars" %}
                      {{ govukTag({text: tag, classes: "govuk-tag--blue app-tag--small"}) }}
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {% if project.phase == 'Retired' %}
                  {{ govukTag({text: 'Retired', classes: 'govuk-tag--grey app-tag--small'}) }}
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>

{% endblock %}
