{% extends "layout.html" %}
{%- from "includes/_service-item.njk" import serviceItem -%}
{% set section = "topic" %}

{% block pageTitle %}Government digital services{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">By topic</h1>

      {% for theme in themes %}
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="{{ theme | slugify }}">{{ theme }}</h2>

        <ul class="govuk-list app-list--services">
          {%- for service in (projects | sort(attribute="name")) -%}
            {% if service.theme == theme %}
              {{ serviceItem(service) }}
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>

{% endblock %}
