{% extends "layout.njk" %}

{% set title = "Verbs" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% set quote %}
    <p class="govuk-body">“Good services are verbs, bad services are nouns”</p>

    <p class="govuk-body"><a href="https://designnotes.blog.gov.uk/2015/06/22/good-services-are-verbs-2/" class="govuk-link">Design in government blog post, 22 June 2015</a></p>
  {% endset %}

  {{ govukInsetText({
    html: quote
  }) }}

  <h2 class="govuk-heading-l">Common verbs used across government services</h2>

  <ol class="govuk-list app-list--columns">
  {%- for verb in verbs | sort(true, false, "count") -%}
    {% if (verb.count) > 1 %}
    <li>
      <a class="govuk-link govuk-font-size-16" href="#{{ verb.name }}">{{ verb.name | capitalize }} ({{ verb.count }})</a>
    </li>
    {% endif %}
  {%- endfor %}
  </ol>

  {%- for verb in verbs | sort(true, false, "count") -%}
    {%- if (verb.count) > 1 %}
    <h2 class="govuk-heading-l" id="{{ verb.name }}">
      {{- verb.name | capitalize -}}
    </h2>

    <ul class="govuk-list govuk-list--spaced">
    {%- for service in verb.services | sort(false, false, "name") -%}
      {{ appServiceItem(service) }}
    {%- endfor %}
    </ul>
    {%- endif %}
  {%- endfor %}
{% endblock %}
