{% extends "layout.html" %}
{% block pageTitle %}{{ project.name }} – Government digital services{% endblock %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Verbs</h1>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {% set quote %}
        <p class="govuk-body">“Good services are verbs, bad services are nouns”</p>

        <p class="govuk-body govuk-!-font-size-16"><a href="https://designnotes.blog.gov.uk/2015/06/22/good-services-are-verbs-2/" class="govuk-link">Design in government blog post, 22 June 2015</a></p>
      {% endset %}

      {{ govukInsetText({
      html: quote
      }) }}

      <h2 class="govuk-heading-m">Common verbs used across government services</h2>

      <ol class="govuk-list" style="columns: 3;">
        {% for verb in verbs|sort(true, false, 'count') %}
          {% if (verb.count) > 1 %}
            <li class="govuk-list--item"><a class="govuk-link govuk-font-size-16" href="#{{ verb.name  }}">{{ verb.name | capitalize  }} ({{ verb.count }})</a></li>
          {% endif %}
        {% endfor %}
      </ol>

      {% for verb in verbs|sort(true, false, 'count') %}
        {% if (verb.count) > 1 %}

          <h2 class="govuk-heading-m" id="{{ verb.name }}">{{ verb.name | capitalize }}</h2>

          <ul class="govuk-list govuk-list--bullet">
            {% for service in verb.services | sort(false, false, 'name') %}
              <li>
                <a href="/projects/{{ service.slug }}" class="govuk-link">{{ service.name }}</a>
                {% if service.tags %}
                  {% for tag in service.tags %}
                    {{ govukTag({text: tag, classes: "govuk-tag--blue"}) }}
                  {% endfor %}
                {% endif %}
                {% if service.phase == 'retired' %}
                  {{ govukTag({text: 'retired', classes: 'govuk-tag--grey'}) }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

      {% endfor %}

    </div>
  </div>
{% endblock %}
